<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Beranda
                </div>
                <h2 class="page-title">
                    <%- title %>
                </h2>
            </div>
            <!-- Page title actions -->

        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="h2 mb-1">Mahasiswa</div>
        <div class="row row-deck row-cards mb-5">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader h5">Jumlah yang belum regis</div>

                        </div>
                        <div class="h1 p-4 text-center align-center">
                            <%= mhsNot %>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader h5">Jumlah yang sudah regis</div>

                        </div>
                        <div class="h1 p-4 text-center align-center">
                            <%= mhsDone %>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="h2 mb-1">Orang Tua</div>
        <div class="row row-deck row-cards">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader h5">Jumlah yang belum regis</div>

                        </div>
                        <div class="h1 p-4 text-center align-center">
                            <%= ortuNot %>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader h5">Jumlah yang sudah regis</div>

                        </div>
                        <div class="h1 p-4 text-center align-center">
                            <%= ortuDone %>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>