
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row">
            <div class="col-xl">
                <h2>Daftar <%- title %></h2>
                <div class="nav-align-top mb-4">
                    <%-include('../tabDaftar.ejs');%>
                        <div class="tab-content">
                            <div class="tab-panel fade show active" id="navs-top-home" role="tabpanel">
                                <div class="card">
                                    <div class="row card-header">
                                        <div class="col">
                                            <h2 class="">Tabel <%- title %></h4>
                                        </div>
                                        <div class="col d-flex justify-content-end">
                                            <!-- <div class="me-2">
                                                <a href="/export/mahasiswa" class="btn btn-outline-azure"><i class="fa fa-solid fa-file-import me-2"></i> Export Data</a>
                                            </div> -->
                                            <div class="me-2">
                                                <a href="/import/orangtua" class="btn btn-outline-success"><i class="fa fa-solid fa-file-import me-2"></i>Import Data</a>
                                            </div>
                                            <div class="ms-1">
                                                <button class="btn btn-primary btn-tambah" type="button" data-bs-toggle="modal"
                                                data-bs-target="#modalOrtuTambah"><i class="fa fa-solid fa-plus me-2"></i>
                                                Tambah</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="text-nowrap">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label for="" class="form-label">Nama</label>
                                                        <input type="text" name="nama" id="filter_nama" class="form-control filter filter_nama">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="" class="form-label">NIM</label>
                                                        <input type="text" name="nim" id="filter_nim" class="form-control filter filter_nim">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="" class="form-label">Prodi</label>
                                                        <select name="prodi" id="filter_prodi" class="form-select filter filter_prodi" style="width: 100%;">
                                                            <option value="">-- Pilih --</option>
                                                            <% prodis.forEach(prodi => { %>
                                                                <option value="<%= prodi.prodi %>"><%= prodi.prodi %></option>
                                                            <% }); %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr class="hr" style="margin: 1%;"/>
                                            <table class="table table-hover" id="dataTableOrtu">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>NIM</th>
                                                        <th>Nama</th>
                                                        <th>Program Studi</th>
                                                        <th>No Kursi</th>
                                                        <th>Registrasi</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            1.
                                                        </td>
                                                        <td>Felly Chandra</td>
                                                        <td>2055301050</td>
                                                        <td>Teknik Informatika</td>
                                                        <td>felly20ti@mahasiswa.pcr.ac.id</td>
                                                        <td>True</td>
                                                        <td>
                                                            <button class="btn btn-success mx-1" type="button"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#stockistModal"><i
                                                                    class="fas fa-boxes-stacked"></i></button>
                                                            <button class="btn btn-warning mx-1" type="button"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#editBarangModal"><i
                                                                    class="fa fa-pencil"></i></button>
                                                            <button class="btn btn-danger mx-1 btn-delete"><i
                                                                    class="fa fa-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include('./modal/modalOrangtua.ejs'); %>
<%- include('./script/ortuBelumScript.ejs'); %>
